
target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar


*.log
logs/


.idea/
*.iml
*.ipr
*.iws
out/


.classpath
.project
.settings/
bin/


.vscode/


.DS_Store
Thumbs.db


.env
.env.*
application-local.yml
application-secrets.yml


docker-compose.override.yml


*.hprof
.mvn/timing.properties
